.activities-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.places-container{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cart-container{
    background-color: aquamarine;
}